Package:      infodroneparser
Version:      1.0.0-1
Architecture: amd64
Maintainer:   dummy <email@example.com>
Section:      utils
Priority:     optional
Depends:      libpcap0.8t64 | libpcap0.8, libtins4.5
Description: Extract InfoDrone packets from .pcap files
 Extract InfoDrone packets from .pcap files
